

	<div class="tabs-panel" id="panel2">
	
	<div class="features__heading columns small-12">
    <h5 class="heading__title text-center smallcaps">Conoce más sobre el</h5>
    <h2 class="heading__title text-center">SEGURO CATASTRÓFICO + LESIONES ACCIDENTALES</h2>
   <div class="columns small-12 text-center">
      <p>Para ti, que quieres lo mejor para tu salud, busca tranquilidad en todas las etapas de tu vida.<br></p>
    </div>
  </div>
	

   	{{> tab-coverage-cat-lesiones}} 
    {{> tab-benefits}}     
    {{> tab-insurability-cat-lesiones}}
    {{> tab-select-cat-lesiones}}


	</div>