
  <section class="tabs__benefits">
    <div class="tabs__benefits__container u-container-2">
     	<h3 class="tabs__benefits__title heading__title text-center">Beneficios</h3>
     	<p class="tabs__benefits__desc text-center">Hasta un <strong>20% de descuento</strong> en prestaciones para cuidar tu salud, promover y potenciar tu actividad física:</p>
     	<div class="tabs__benefits__row u-row">

	     	<ul class="tabs__benefits__list col-xs-12 col-md-6">
	     		<li class="tabs__benefits__list-item bullet-list">Podología</li>
	     		<li class="tabs__benefits__list-item bullet-list">Reiki</li>
	     		<li class="tabs__benefits__list-item bullet-list">Reflexología</li>
	     		<li class="tabs__benefits__list-item bullet-list">Acupuntura</li>
	     		<li class="tabs__benefits__list-item bullet-list">Masoterapia</li>
	     		<li class="tabs__benefits__list-item bullet-list">SPA</li>
	     	</ul>

	     	<ul class="tabs__benefits__list col-xs-12 col-md-6">
	     		<li class="tabs__benefits__list-item bullet-list">Hidroterapia</li>
	     		<li class="tabs__benefits__list-item bullet-list">Gimnasio</li>
	     		<li class="tabs__benefits__list-item bullet-list">Programa MEDS Runner</li>
	     		<li class="tabs__benefits__list-item bullet-list">Programa MEDS Cycling</li>
	     		<li class="tabs__benefits__list-item bullet-list">Cámara de Hipoxia</li>
	     	</ul>

     	</div>
    </div>
  </section>