
	<section class="tabs__coverage">
    <div class="tabs__coverage__container u-container-2 center-xs">
 			<div class="tabs__coverage__col">
 				<h2 class="tabs__coverage__title heading__title">Coberturas</h2>
 				<p class="tabs__coverage__description">La cobertura va desde los 18 años hasta cumplir los 70 años</p>
 			</div>
    </div>
 	</section>


 	<section class="tabs__coverage__list">
 		<div class="tabs__coverage__list__container u-container-3">
	 		<div class="tabs__coverage__list__row u-row center-xs bottom-xs">

	 			<div class="tabs__coverage__list__col col-xs-12 col-md-6">
						<p class="tabs__coverage__list__row__desc text-center">Capital Asegurado</p>
						<p class="tabs__coverage__list__row__desc text-center">por evento</p>
						<h3 class="tabs__coverage__list__row__title text-center">UF 25
							<span class="has-tip top fa fa-info-circle" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Por evento con un tope de 2 eventos anuales."></span>
						</h3>
	 			</div>

	 			<div class="tabs__coverage__list__col col-xs-12 col-md-6">
					<p class="tabs__coverage__list__row__desc text-center">Deducible</p>
					<h3 class="tabs__coverage__list__row__title text-center">Sin deducible</h3>
	 			</div>

	 		</div>
 		</div>
 	</section>