

	<section class="tabs__heading">
      <div class="tabs__heading__container align-spaced">
       	<h4 class="tabs__heading__sub-title heading__sub-title text-center">PRINCIPALES CARACTERÍSTICAS DEL SEGURO DE LESIONES ACCIDENTALES</h4>
        <div class="col-md-10 large-offset-1" >
       	  <p class="tabs__heading__desc text-center">Reembolso de gastos médicos incurridos en Clínica MEDS y todos sus Centros Médicos por un accidente, una vez que haya hecho uso de tu ISAPRE.</p>
        </div>
      </div>
    </section>



   	<section class="tabs__features">
      <div class="tabs__features__container u-container-2">
        <div class="tabs__features__row">
       		<div class="tabs__features__column col-xs-12 col-md-6">
       			<ul>
       				<li class="bullet-list">Capital Asegurado <strong>hasta 25 UF por evento</strong></li>
       				<li class="bullet-list">Cobertura hasta cumplir <strong>70 años.</strong></li>
       				<li class="bullet-list">Tope de 2 eventos al año póliza</li>
       			</ul>
       		</div>
        </div>
      </div>
   	</section>

	<section class="tabs__coverage">
    <div class="tabs__coverage__container center-xs">
 			<div class="tabs__coverage__col">
 				<h4 class="tabs__coverage__title heading__title">COBERTURA DE SEGURO DE LESIONES ACCIDENTALES</h4>
    </div>
 	</section>


 	<section class="tabs__coverage__list">
 		<div class="tabs__coverage__list__container u-container-3">
	 		<div class="tabs__coverage__list__row u-row center-xs bottom-xs">

	 			<div class="tabs__coverage__list__col col-xs-12 col-md-6">
						<p class="tabs__coverage__list__row__desc text-center">Capital Asegurado</p>
						<p class="tabs__coverage__list__row__desc text-center">por evento</p>
						<h3 class="tabs__coverage__list__row__title text-center">UF
							<span class="">25</span>
						</h3>
	 			</div>

	 			<div class="tabs__coverage__list__col col-xs-12 col-md-6">
					<p class="tabs__coverage__list__row__desc text-center">Deducible</p>
					<h3 class="tabs__coverage__list__row__title text-center">UF
						<span class="">
							0</span>
					</h3>
	 			</div>

	 		</div>
 		</div>
    <div class="coverage__features__row u-row align-spaced" data-accordion>

        <div class="coverage__features__columns row columns small-12 medium-6" data-accordion-item>
          <a href="#" class="accordion-title"><img src="assets/img/ambulatoria.png" alt="Logotipo ambulatoria"> Coberturas Ambulatorias</a>
          <div class="coverage__features__tab-content" data-tab-content>
            <figure class="coverage__features__image show-for-medium">
              <img src="assets/img/iStock-470764758.jpg" alt="">
              <figcaption class="coverage__features__image-caption">
                <img src="assets/img/ico_cobertura-ambulatoria.svg">
                <h4 class="coverage__features__image__title">Coberturas Ambulatorias</h4>
              </figcaption>
            </figure>
            <ul class="coverage__features__list">
              <li class="coverage__features__list-item row">
                <div class="columns small-3">
                  <h4 class="coverage__features__list__title">Hasta</h4>
                  <p class="coverage__features__list__percentage">100%</p>
                  <h4 class="coverage__features__list__title">De reembolso</h4>
                </div>
                <div class="columns small-9">
                  <p>La compañía reembolsará al asegurado los gastos de asistencia médica y farmacéutica razonables, acostumbrados y efectivamente incurridos por el Asegurado solo en Clínica MEDS y sus Centros Médicos, tanto ambulatorios como hospitalarios, en que éste incurra a consecuencia de un accidente, en los términos y condiciones establecidos en las Condiciones Particulares,  y siempre que tales gastos sean producto de atenciones prestadas dentro del plazo de ciento veinte (120) días corridos contados desde la fecha del accidente y consecuencia de las lesiones sufridas en él.</p>
                </div>
              </li>
              <li class="coverage__features__list-item row">
                <div class="columns small-3">
                  <h4 class="coverage__features__list__title">Hasta</h4>
                  <p class="coverage__features__list__percentage">50%</p>
                  <h4 class="coverage__features__list__title">De reembolso</h4>
                </div>
                <div class="columns small-9">
                  <p>En caso que las prestaciones no tengan cobertura por parte de la ISAPRE, se considerarán como gastos médicos ambulatorios efectivamente incurridos el 50% del valor de éstos, y sobre éste monto se aplicarán los deducibles, porcentajes y topes correspondientes.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="column medium-11 align-center">
          <p class="text-center">La cobertura tendrá un periodo de carencia de 30 días desde la fecha de inicio de su vigencia.<br></p>
        </div>
      </div>
      <p><br>&nbsp;</p>
  </section>