
	<section class="insurability" id="insurability" data-magellan-target="insurability">
		<div class="insurability__heading u-row">
			<div class="columns text-center">
				<h4 class="insurability__title heading__title">REQUISITOS DE ASEGURABILIDAD</h4>
				<p class="insurability__description">Son asegurables los clientes que obtengan prestaciones o atenciones médicas en Red de Salud UC CHRISTUS.</p>
			</div>
		</div>

		<!-- Cobertura -->

		<div class="row align-center">

			<div class="small-8 medium-4 columns">
			    <div class="card">
			      	<div class="image">
				        <img src="{{root}}/assets/img/img_insurability_conyugue.jpg" alt="" />
				        <span class="title text-center align-center"><p><strong>Asegurado:</strong></p>
						<p class="insurability__box__desc">Titular, Cónyuge, Conviviente civil o pareja</p></span>
			      	</div>
			      	<div class="content text-center">
			        	<p class="insurability__box__desc"><span>Edad Mínima / Máxima de incorporación:</span></p>
						<p class="insurability__box__desc">18 años / 69 años y 364 días</p><br>
						<p class="insurability__box__desc"><span>Edad máxima de permanencia:</span></p>
						<p class="insurability__box__desc">99 años y 364 días</p>
			      	</div>
			    </div>
			</div>
			<div class="small-8 medium-4 columns">
			    <div class="card">
			      	<div class="image">
				        <img src="{{root}}/assets/img/img_insurability_hijos.jpg" alt="" />
				        <span class="title text-center"><p><strong>Asegurado:</strong></p>
						<p class="insurability__box__desc">Hijos y nietos</p></span>
			      	</div>
			      	<div class="content text-center">
			      		<p class="insurability__box__desc"><span>Edad Mínima / Máxima de incorporación:</span></p>
						<p class="insurability__box__desc">14 días / 22 años y 364 días</p><br>
						<p class="insurability__box__desc"><span>Edad máxima de permanencia:</span></p>
						<p class="insurability__box__desc">23 años y 364 días</p>
					</div>
			    </div>
			</div>
		</div>

		<!-- End Cobertura -->

		<div class="insurability__features u-row">
			<ul class="insurability__list">
				<li class="insurability__list-item bullet-list">
					<p class="insurability__list-item__desc">Solo para pacientes afiliados a un sistema de ISAPRES</p>
				</li>
				<li class="insurability__list-item bullet-list">
					<p class="insurability__list-item__desc">Exclusivo para prestaciones en Clínica MEDS y sus centros médicos</p>
				</li>
				<li class="insurability__list-item bullet-list">
					<p class="insurability__list-item__desc">La cobertura comenzará su vigencia a partir del primer (1er) día del mes siguiente a la contratación. En consecuencia todas aquellas enfermedades que hayan sido diagnosticadas o los accidentes ocurridos con anterioridad a la fecha de inicio de vigencia, se considerarán preexistentes.</p>
				</li>
				<li class="insurability__list-item bullet-list">
					<p class="insurability__list-item__desc">Podrán tener calidad de Asegurados los clientes que obtengan prestaciones o atenciones médicas en Clínica MEDS y sus centros médicos</p>
				</li>
			</ul>
		</div>
	</section>

	<section class="tabs__contract">
	<div class="tabs__contract__container u-container">
		<div class="tabs__contract__heading text-center">
			<h3 class="tabs__contract__title heading__title">¿Listo para contratar?</h3>
			<h4 class="tabs__contract__desc">Entrena sintiéndote protegido con nuestros seguros MEDS</h4>
			<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlus" class="button large" target="_blank">Contrátalo ahora</a>
		</div>
	</div>
</section>