
	<div class="tabs-panel" id="panel3">

<div class="features__heading columns small-12">
    <h5 class="heading__title text-center smallcaps">Conoce más sobre el</h5>
    <h2 class="heading__title text-center">SEGURO CATASTRÓFICO + COMPLEMENTARIO</h2>
   <div class="columns small-12 text-center">
      <p>Tú, que llevas el deporte en la sangre, que no haya impedimento que te detenga.<br></p>
    </div>
  </div>

    {{> tab-coverage-cat}}
	{{> tab-coverage-comp}}        
    {{> tab-benefits}}
    {{> tab-insurability-cat-comp}}
    <!-- {{> tab-select-cat-comp}} -->



	
	</div>