
	<section class="tabs__contract">
		<div class="tabs__contract__container u-container">
			<div class="tabs__contract__heading text-center">
				<h3 class="tabs__contract__title heading__title">¿Listo para contratar?</h3>
				<h4 class="tabs__contract__desc">Entrena sintiéndote protegido con nuestros seguros MEDS</h4>
				<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlus" class="button large" target="_blank">Contrátalo ahora</a>
			</div>
		</div>
	</section>