
	<div class="tabs__primary row align-spaced align-stretch">
		<ul class="tabs row center-xs" data-tabs id="tabs">
		  <li class="tabSecond tabs-title small-12 medium-3">
		  	<a href="#panel2"><span class="tab__title__mobile">Seguro Catastrófico + <br/>lesiones accidentales</span>
		  		<figure class="features__tabs__image">
		  			<div class="image-wrapper overlay-fade-in">
				    	<img src="{{root}}/assets/img/img_main_catastrofico-lesiones.jpg" alt="" />
				    	<div class="tabs__primary__banner__text">
				    		<h4>Seguro <br/> catastrofico + <br/>lesiones accidentales</h4>
				    	</div>
							<div class="image-overlay-content">
								<h3 class="features__tabs__content__title">Seguro Catastrófico + <br/>lesiones accidentales</h3>
								<h4 class="intro__columns__contract__desc">Llévalo desde:</h4>
								<p class="intro__price__amount">
									<span class="price-peso">$ <span class="price-mount">11.201</span><i data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Cáncer, Accidente Vascular Cerebral, Infarto al Miocardio, Insuficiencia Renal Crónica, Angioplastía, Injerto Aórtico, Cirugía de Válvulas Cardiacas, Transplante de órganos mayores y Alzheimer." class="has-tip top fa fa-info-circle" aria-hidden="true"></i></span>
									<span class="intro__price__second-amount">UF<span class="intro__price__second-amount">0,425</span></span>
								</p>
								<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlus" target="_blank" class="changeCoverage contract__price__button button">
									<h3>Contratalo ahora</h3>
									<p><em>Y tu primera prima es sin costo</em></p>
								</a>
								<p class="contract__price__link"><a href="#">Ver más información del seguro</a></p>
							</div>
				    </div>
		  		</figure>
		  	</a>
		  </li>
		  <li class="tabThird tabs-title small-12 medium-3">
		  	<a href="#panel3"><span class="tab__title__mobile">Seguro Catastrófico + <br/>complementario</span>
		  		<figure class="features__tabs__image">
		  			<div class="image-wrapper overlay-fade-in">
				    	<img src="{{root}}/assets/img/img_main_catastrofico-complementario.jpg" alt="" />
				    	<div class="tabs__primary__banner__text">
				    		<h4>Seguro <br/> catastrofico + <br/>complementario</h4>
				    	</div>
							<div class="image-overlay-content">
					    	 	<h3 class="features__tabs__content__title">Seguro Catastrófico + <br/>complementario</h3>
								<h4 class="intro__columns__contract__desc">Llévalo desde:</h4>
								<p class="intro__price__amount">
								<span class="price-peso">$ <span class="price-mount">19.345</span><i data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Cáncer, Accidente Vascular Cerebral, Infarto al Miocardio, Insuficiencia Renal Crónica, Angioplastía, Injerto Aórtico, Cirugía de Válvulas Cardiacas, Transplante de órganos mayores y Alzheimer." class="has-tip top fa fa-info-circle" aria-hidden="true"></i></span>
								<span class="intro__price__second-amount">UF<span class="intro__price__second-amount">0,734</span></span>
								</p>
								<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlus" target="_blank" class="changeCoverage contract__price__button button">
									<h3>Contratalo ahora</h3>
									<p><em>Y tu primera prima es sin costo</em></p>
								</a>
								<p class="contract__price__link"><a href="#">Ver más información del seguro</a></p>
							</div>
				    </div>
		  		</figure>
		  	</a>
		  </li>
		  <li class="tabFourth tabs-title small-12 medium-3">
		  	<a href="#panel4"><span class="tab__title__mobile">Seguro Catastrófico</span>
		  		<figure class="features__tabs__image">
		  			<div class="image-wrapper overlay-fade-in">
				    	<img src="{{root}}/assets/img/img_main_catastrofico.jpg" alt="" />
				    	<div class="tabs__primary__banner__text">
				    		<h4>Seguro <br/> catastrofico </h4>
				    	</div>
							<div class="image-overlay-content">
					    	 	<h3 class="features__tabs__content__title"><br>Seguro Catastrófico</h3>
								<h4 class="intro__columns__contract__desc">Llévalo desde:</h4>
								<p class="intro__price__amount">
								<span class="price-peso">$ <span class="price-mount">7.273</span><i data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Cáncer, Accidente Vascular Cerebral, Infarto al Miocardio, Insuficiencia Renal Crónica, Angioplastía, Injerto Aórtico, Cirugía de Válvulas Cardiacas, Transplante de órganos mayores y Alzheimer." class="has-tip top fa fa-info-circle" aria-hidden="true"></i></span>
								<span class="intro__price__second-amount">UF<span class="intro__price__second-amount">0,276</span></span>
								</p>
								<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlus" target="_blank" class="changeCoverage contract__price__button button">
									<h3>Contratalo ahora</h3>
									<p><em>Y tu primera prima es sin costo</em></p>
								</a>
								<p class="contract__price__link"><a href="#">Ver más información del seguro</a></p>
							</div>
				    </div>
		  		</figure>
		  	</a>
		  </li>
		</ul>
	</div>