
	<section class="tabs__contract">
		<div class="tabs__contract__container u-container">
			<div class="tabs__contract__heading text-center">
				<h3 class="tabs__contract__title heading__title">¿Listo para contratar?</h3>
				<h4 class="tabs__contract__desc">Entrena sintiéndote protegido con nuestros seguros MEDS</h4>
				<a href="https://segurosmeds.metlife.cl/VentaWeb/Formulario/MedsCatastrofico" class="contract__price__button button large contract__padding__lateral changeURL" target="_blank">
					<h3>Contratalo ahora</h3>
					<p><em>Y tu primera prima es sin costo</em></p>
				</a>
			</div>
		</div>
	</section>