
  <div class="tabs-panel is-active" id="panel1">

    <section class="tabs__heading">
      <div class="tabs__heading__container">
       	<h3 class="tabs__heading__sub-title heading__sub-title text-center">Para tí que te gusta estar en movimiento protégete ante un imprevisto</h3>
       	<p class="tabs__heading__desc text-center">Reembolso de gastos médicos incurridos con ocasión de lesiones accidentales, una vez que hayas hecho uso de tu Isapre. Sin Deducible y con coberturas en Clínicas MEDS La Dehesa y todos sus Centros MEDS en Santiago y Regiones.</p>
      </div>
    </section>



   	<section class="tabs__features">
      <div class="tabs__features__container u-container-2">
        <div class="tabs__features__row u-row">
       		<div class="tabs__features__column col-xs-12 col-md-6">
       			<ul>
       				<li class="bullet-list">Capital Asegurado <strong>hasta 25 UF por evento</strong></li>
       				<li class="bullet-list">Cobertura hasta cumplir <strong>70 años.</strong></li>
       			</ul>
       		</div>
       		<div class="tabs__features__column col-xs-12 col-md-6">
       			<ul>
       				<li class="bullet-list">Tope de <strong>2 eventos</strong> al año pólizza</li>
       			</ul>
       		</div>
        </div>
      </div>
   	</section>


    {{> tab-coverage}}


    <section class="tabs__coverage__footer">
      <div class="tabs__coverage__footer__container u-container-2">
        <div class="tabs__coverage__footer__row u-row">
        	<div class="tabs__coverage__footer__col col-xs-12 col-md-3">
        		<h4 class="coverage__features__list__title">Hasta</h4>
        		<p class="coverage__features__list__percentage">100%</p>
        		<h4 class="coverage__features__list__title">De reembolso</h4>
        	</div>
        	<div class="tabs__coverage__footer__col col-xs-12 col-md-9">
    				<p>100% Cobertura en Clínicas MEDS La Dehesa y todos sus Centros MEDS en Santiago y Regiones</p>
        	</div>
        </div>
      </div>
    </section>


    {{> tab-contract}}
    {{> tab-benefits}}
    {{> tab-insurability}}


  </div>