
	<div class="tabs-panel" id="panel3">
		 <section class="tabs__heading">
		   <div class="tabs__heading__container">
		    	<h3 class="tabs__heading__sub-title heading__sub-title text-center">Para tí que quieres lo mejor para tu salud, busca tranquilidad en todas las etapas de  tu vida.</h3>
		    	<p class="tabs__heading__desc text-center">Reembolso de gastos médicos incurridos con ocasión de lesiones accidentales, una vez que hayas hecho uso de tu Isapre. Sin Deducible y con coberturas en Clínicas MEDS La Dehesa y todos sus Centros MEDS en Santiago y Regiones.</p>
		   </div>
		 </section>

			<section class="tabs__features">
		   <div class="tabs__features__container u-container-2">
		     <div class="tabs__features__row u-row">
		    		<div class="tabs__features__column col-xs-12 col-md-6">
		    			<ul>
		    				<li class="bullet-list">Capital Asegurado <strong>hasta 25 UF por evento</strong></li>
		    				<li class="bullet-list">Cobertura hasta cumplir <strong>70 años.</strong></li>
		    			</ul>
		    		</div>
		    		<div class="tabs__features__column col-xs-12 col-md-6">
		    			<ul>
		    				<li class="bullet-list">Tope de <strong>2 eventos</strong> al año póliza</li>
		    			</ul>
		    		</div>
		     </div>
		   </div>
			</section>



	    	<section class="tabs__coverage">
	        <div class="tabs__coverage__container u-container-3 center-xs">
	     			<div class="tabs__coverage__col">
	     				<h2 class="tabs__coverage__title heading__title">Coberturas</h2>
	     				<p class="tabs__coverage__description">Las coberturas dependen de la edad del asegurado y<br/> del plan seleccionado. Para conocer cuales son tus coberturas<br/> cuéntanos primero:</p>
	     				<p class="tabs__coverage__date"><em>¿Cuál es tu edad?</em></p>
	     			</div>
	    	    <select name="" class="activeCoverage">
	    	    	<option value="18">18 años hasta cumplir 65 años</option>
	    	    </select>
	        </div>
	     	</section>


	     	<section class="tabs__coverage__list">
	     		<div class="tabs__coverage__list__container u-container-3">
	    	 		<div class="tabs__coverage__list__row u-row center-xs bottom-xs">

	    	 			<div class="tabs__coverage__list__col col-xs-12 col-md-6">
	    						<p class="tabs__coverage__list__row__desc text-center">Capital Asegurado</p>
	    						<p class="tabs__coverage__list__row__desc text-center">por evento</p>
	    						<h3 class="tabs__coverage__list__row__title text-center">UF
	    							<span class="activeCapital"
	    								data-c18="120"></span>
	    						</h3>
	    	 			</div>

	    	 			<div class="tabs__coverage__list__col col-xs-12 col-md-6">
	    					<p class="tabs__coverage__list__row__desc text-center">Deducible</p>
	    					<h3 class="tabs__coverage__list__row__title text-center">UF
	    						<span class="activeDeductible"
	    							data-c18="2"></span>
	    					</h3>
	    	 			</div>

	    	 		</div>
	     		</div>
	     	</section>

			<div class="coverage__tabs__heading">
				<p><strong>Grupo 1:</strong> Clínica Alemana, Clínica Las Condes, Clínica San Carlos de Apoquindo y Clínica Universidad de los Andes. <br/><strong>Grupo 2:</strong> Clínica MEDS y otras clínicas no especificadas en el Grupo 1.</p>
			</div>

		  <div class="u-row" data-accordion>
				<div class="coverage__features__columns row columns small-12 medium-6 is-active" data-accordion-item>
					<a href="#" class="accordion-title"><img src="assets/img/hospitalaria.png" alt="Logotipo Hospitalarias"> Coberturas hospitalarias</a>
					<div class="coverage__features__tab-content" data-tab-content>
						<figure class="coverage__features__image show-for-medium">
							<img src="assets/img/iStock-520613914.jpg" alt="">
							<figcaption class="coverage__features__image-caption">
								<img src="assets/img/ico_cobertura-hospitalaria.svg">
								<h4 class="coverage__features__image__title"> Coberturas Hospitalarias</h4>
							</figcaption>
						</figure>
						<ul class="coverage__features__list">
							<li class="coverage__features__list-item row">
								<div class="columns small-3">
									<h4 class="coverage__features__list__title">Idem</h4>
									<p class="coverage__features__list__percentage">%</p>
									<h4 class="coverage__features__list__title">De reembolso efectivo de Isapre <span class="has-tip top fa fa-info-circle" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Sin tope máximo por prestación y sin tope máximo anual por beneficiario*"></span></h4>
								</div>
								<div class="columns small-9">
									<p>Medicamentos Hospitalarios, Materiales Clínicos, Exámenes y Procedimientos, Derecho a Pabellón, Honorario Médicos Quirúrgicos y Servicio de Ambulancia</p>
								</div>
							</li>
							<li class="coverage__features__list-item row align-middle">
								<div class="columns small-3">
									<h4 class="coverage__features__list__title">Idem</h4>
									<p class="coverage__features__list__percentage">%</p>
									<h4 class="coverage__features__list__title">De reembolso efectivo de Isapre <span class="has-tip top fa fa-info-circle" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Tope máximo por prestación UF 3 Sin tope máximo anual por beneficiario*"></span></h4>
								</div>
								<div class="columns small-9">
									<p>Día Cama ** y Día Cama Recuperación **</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="coverage__features__columns row columns small-12 medium-6" data-accordion-item>
					<a href="#" class="accordion-title"><img src="assets/img/ambulatoria.png" alt="Logotipo ambulatoria"> Coberturas Ambulatorias</a>
					<div class="coverage__features__tab-content" data-tab-content>
						<figure class="coverage__features__image show-for-medium">
							<img src="assets/img/iStock-470764758.jpg" alt="">
							<figcaption class="coverage__features__image-caption">
								<img src="assets/img/ico_cobertura-ambulatoria.svg">
								<h4 class="coverage__features__image__title">Coberturas Ambulatorias</h4>
							</figcaption>
						</figure>
						<ul class="coverage__features__list">
							<li class="coverage__features__list-item row">
								<div class="columns small-3">
									<h4 class="coverage__features__list__title">Idem</h4>
									<p class="coverage__features__list__percentage">%</p>
									<h4 class="coverage__features__list__title">De reembolso efectivo de Isapre <span class="has-tip top fa fa-info-circle" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Sin tope máximo por prestación y sin tope máximo anual por beneficiario*"></span></h4>
								</div>
								<div class="columns small-9">
									<p>Exámenes de Laboratorio, Exámenes Radiologicos, Cirugía Ambulatoria, Procedimientos de Diagnósticos no quirúrgicos y Procedimientos quirúrgicos</p>
								</div>
							</li>
							<li class="coverage__features__list-item row align-middle">
								<div class="columns small-3">
									<h4 class="coverage__features__list__title">Idem</h4>
									<p class="coverage__features__list__percentage">%</p>
									<h4 class="coverage__features__list__title">De reembolso efectivo de Isapre <span class="has-tip top fa fa-info-circle" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Tope máximo por prestación UF 0.7 y sin tope máximo anual por beneficiario*"></span></h4>
								</div>
								<div class="columns small-9">
									<p>Consultas Médicas*</p>
								</div>
							</li>
							<li class="coverage__features__list-item row align-middle">
								<div class="columns small-3">
									<h4 class="coverage__features__list__title">Idem</h4>
									<p class="coverage__features__list__percentage">%</p>
									<h4 class="coverage__features__list__title">De reembolso efectivo de Isapre <span class="has-tip top fa fa-info-circle" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Tope máximo por prestación UF 0.15** y 20 sesiones máximo anual por beneficiario*"></span></h4>
								</div>
								<div class="columns small-9">
									<p>Kinesiología y Medicina Física</p>
								</div>
							</li>
							<li class="coverage__features__list-item row align-middle">
								<div class="columns small-3">
									<h4 class="coverage__features__list__title">Idem</h4>
									<p class="coverage__features__list__percentage">%</p>
									<h4 class="coverage__features__list__title">De reembolso efectivo de Isapre <span class="has-tip top fa fa-info-circle" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Tope máximo por prestación UF 0.5 y 20 sesiones máximo anual por beneficiario*"></span></h4>
								</div>
								<div class="columns small-9">
									<p>Procedimientos Terapéuticos no quirúrgicos</p>
								</div>
							</li>
							<li class="coverage__features__list-item row align-middle">
								<div class="columns small-3">
									<h4 class="coverage__features__list__title">Idem</h4>
									<p class="coverage__features__list__percentage">%</p>
									<h4 class="coverage__features__list__title">De reembolso efectivo de Isapre <span class="has-tip top fa fa-info-circle" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Sin tope máximo por prestación y UF 20 máximo anual por beneficiario*"></span></h4>
								</div>
								<div class="columns small-9">
									<p>Prótesis y Ortesis</p>
								</div>
							</li>
							<li class="coverage__features__list-item row align-middle">
								<div class="columns small-3">
									<p class="coverage__features__list__percentage">10% <span class="has-tip top fa fa-info-circle" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Sin máximo por prestación y UF 10 tope máximo anual por beneficiario*"></span></p>
								</div>
								<div class="columns small-9">
									<p>Medicamentos**</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
	</div>