
	<section class="tabs__heading">
      <div class="tabs__heading__container align-spaced">
       	<h4 class="tabs__heading__sub-title heading__sub-title text-center">PRINCIPALES CARACTERÍSTICAS</h4>
        <div class="col-md-10 large-offset-1" >
        <h5 class="tabs__heading__sub-title heading__sub-title"> SEGURO CATASTRÓFICO</h5>
       	  <p class="tabs__heading__desc">Reembolsa los gastos médicos de alto costo incurridos por el asegurado, sean estos traumatológicos o no, una vez que hayas hecho uso de tu ISAPRE y hayas consumido el deducible.</p>
        </div>
      </div>
    </section>




   	<section class="tabs__features">
      <div class="tabs__features__container u-container-2">
        <div class="tabs__features__row u-row">
       		<div class="tabs__features__column col-xs-12">
       			<ul>
       				<li class="bullet-list">Capital Asegurado <strong>hasta UF 3.000 por evento</strong></li>
       				<li class="bullet-list">Deducible de UF 100 por evento</li>
       				<li class="bullet-list">Cobertura hasta cumplir <strong>80 años.</strong></li>
       				<li class="bullet-list">Cobertura en todas los clínicas y centros médicos de Chile</li>
       			</ul>
       		</div>
        </div>
      </div>
      <div class="tabs__heading__container align-spaced">
       	<h5 class="tabs__heading__sub-title heading__sub-title col-md-10 large-offset-1">SEGURO DE LESIONES ACCIDENTALES</h5>
        <div class="col-md-10 large-offset-1" >
       	  <p class="tabs__heading__desc">Reembolso de gastos médicos incurridos en Clínica MEDS y todos sus Centros Médicos por un accidente, una vez que haya hecho uso de tu ISAPRE.</p>
        </div>
      </div>
    </section>



   	<section class="tabs__features">
      <div class="tabs__features__container u-container-2">
        <div class="tabs__features__row">
       		<div class="tabs__features__column col-xs-12 col-md-6">
       			<ul>
       				<li class="bullet-list">Capital Asegurado <strong>hasta 25 UF por evento</strong></li>
       				<li class="bullet-list">Cobertura hasta cumplir <strong>70 años.</strong></li>
       				<li class="bullet-list">Tope de 2 eventos al año póliza</li>
       			</ul>
       		</div>
        </div>
      </div>
   	</section>

	<section id="coverage3" class="tabs__coverage" data-magellan-target="coverage3">
    <div class="tabs__coverage__container u-container-2 center-xs">
 			<div class="tabs__coverage__col">
 				<h4 class="tabs__coverage__title heading__title">COBERTURAS SEGURO CATASTRÓFICO</h4>
 				<p class="tabs__coverage__description">Las coberturas dependen de la edad del asegurado y del plan seleccionado.<br>Para conocer cuales son tus coberturas cuéntanos:</p>
 				<p class="tabs__coverage__date"><em>¿Cuál es tu edad?</em></p>
 			</div>
	    <select name="" class="activeCoverageLesiones">
	    	<option value="18">Desde 14 días de nacido hasta cumplir 70 años</option>
	    	<option value="70">70 años hasta cumplir 80 años</option>
	    </select>
    </div>
	</section>


 	<section class="tabs__coverage__list">
 		<div class="tabs__coverage__list__container u-container-3">
	 		<div class="tabs__coverage__list__row u-row center-xs bottom-xs">

	 			<div class="tabs__coverage__list__col col-xs-12 col-md-6">
						<p class="tabs__coverage__list__row__desc text-center">Capital Asegurado</p>
						<p class="tabs__coverage__list__row__desc text-center">por evento</p>
						<h3 class="tabs__coverage__list__row__title text-center">UF
							<span class="activeCapitalLesiones"
								data-c18="3.000"
								data-c70="2.000"></span>
						</h3>
	 			</div>

	 			<div class="tabs__coverage__list__col col-xs-12 col-md-6">
					<p class="tabs__coverage__list__row__desc text-center">Deducible</p>
					<h3 class="tabs__coverage__list__row__title text-center">UF
						<span class="activeDeductibleLesiones"
							data-c18="100"
							data-c70="200"></span>
					</h3>
	 			</div>

	 		</div>
 		</div>

	  <div class="coverage__features__row u-row align-spaced" data-accordion data-allow-all-closed="true">
			<div class="coverage__features__columns row columns small-12 medium-6" data-accordion-item>
				<a href="#" class="accordion-title"><img src="assets/img/hospitalaria.png" alt="Logotipo Hospitalarias"> Coberturas hospitalarias</a>
				<div class="coverage__features__tab-content" data-tab-content>
					<figure class="coverage__features__image show-for-medium">
						<img src="assets/img/iStock-520613914.jpg" alt="">
						<figcaption class="coverage__features__image-caption">
							<img src="assets/img/ico_cobertura-hospitalaria.svg">
							<h4 class="coverage__features__image__title"> Coberturas Hospitalarias</h4>
						</figcaption>
					</figure>
					<ul class="coverage__features__list">
						<li class="coverage__features__list-item row">
							<div class="columns small-3">
								<h4 class="coverage__features__list__title">Hasta</h4>
								<p class="coverage__features__list__percentage">100%</p>
								<h4 class="coverage__features__list__title">De reembolso</h4><br/>
							</div>
							<div class="columns small-9">
								<p>Días cama, Intermedio; Recuperación ,Servicios hospitalarios/ Medicamentos Hospitalarios, Honorarios médicos quirúrgicos, Prótesis y Órtesis Quirúrgicas, Cirugía Plástica Reparadora por accidente, <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Para la prestación de servicio de enfermera el tope será de 30 días por evento.">Servicio de enfermera</span> y <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Para la prestación de ambulancia terrestre el tope será de UF 10 por evento, y con un máximo de 3 eventos por año.">Servicio de Ambulancia Terrestre.</span></p>
							</div>
							<div class="columns small-12">
								<small>En caso que Clínica MEDS no otorgue una determinada prestación, el asegurado se podrá en cualquier otro centro médico aplicándose el mismo porcentaje de cobertura, excepto en Clínica Alemana, Clínica Las Condes, Clínica San Carlos de Apoquindo y Clínica Universidad de Los Andes donde tendrá una cobertura de hasta un 75%. </small>
							</div>
						</li>
						<li class="coverage__features__list-item row align-middle">
							<div class="columns small-3">
								<h4 class="coverage__features__list__title">Hasta</h4>
								<p class="coverage__features__list__percentage">50%</p>
								<h4 class="coverage__features__list__title">De reembolso</h4>
							</div>
							<div class="columns small-9">
								<p>Si la Isapre no cubre al menos el 50%</p>
							</div>
						</li>
						<li class="coverage__features__list-item row align-middle">
							<div class="columns small-3">
								<h4 class="coverage__features__list__title">Hasta</h4>
								<p class="coverage__features__list__percentage">25%</p>
								<h4 class="coverage__features__list__title">De reembolso</h4>
							</div>
							<div class="columns small-9">
								<p>Sin Cobertura Plan del Sistema Previsional de Salud</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="coverage__features__columns row columns small-12 medium-6" data-accordion-item>
				<a href="#" class="accordion-title"><img src="assets/img/ambulatoria.png" alt="Logotipo ambulatoria"> Coberturas Ambulatorias</a>
				<div class="coverage__features__tab-content" data-tab-content>
					<figure class="coverage__features__image show-for-medium">
						<img src="assets/img/iStock-470764758.jpg" alt="">
						<figcaption class="coverage__features__image-caption">
							<img src="assets/img/ico_cobertura-ambulatoria.svg">
							<h4 class="coverage__features__image__title">Coberturas Ambulatorias</h4>
						</figcaption>
					</figure>
					<ul class="coverage__features__list">
						<li class="coverage__features__list-item row">
							<div class="columns small-3">
								<h4 class="coverage__features__list__title">Hasta</h4>
								<p class="coverage__features__list__percentage">100%</p>
								<h4 class="coverage__features__list__title">De reembolso</h4>
							</div>
							<div class="columns small-9">
								<p>Cirugía Ambulatoria, Consultas Médicas, Exámenes de Laboratorio, Exámenes Imagenología, Procedimientos de Diagnósticos y Terapéuticos, Kinesiología, Prótesis y Ortesis Ambulatoria.</p>
								<p><span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="La prestación de medicamentos ambulatorios es sólo para fármacos directamente relacionados y necesarios para el tratamiento de la patología que activó el pago de beneficios de este seguro, que se encuentre cubierta por esta póliza y haya sido diagnosticada por el médico tratante, excepto el Síndrome de Inmunodeficiencia Adquirida (SIDA) para el cual, se excluyen las prestaciones Ambulatorias">Medicamentos Ambulatorios</span></p>
							</div>
							<div class="columns small-12">
								<small>En caso que Clínica MEDS no otorgue una determinada prestación, el asegurado se podrá en cualquier otro centro médico aplicándose el mismo porcentaje de cobertura, excepto en Clínica Alemana, Clínica Las Condes, Clínica San Carlos de Apoquindo y Clínica Universidad de Los Andes donde tendrá una cobertura de hasta un 75%.</small>
							</div>
						</li>
						<li class="coverage__features__list-item row align-middle">
							<div class="columns small-3">
								<h4 class="coverage__features__list__title">Hasta</h4>
								<p class="coverage__features__list__percentage">50%</p>
								<h4 class="coverage__features__list__title">De reembolso</h4>
							</div>
							<div class="columns small-9">
								<p>Si la Isapre no cubre al menos el 50%</p>
							</div>
						</li>
						<li class="coverage__features__list-item row align-middle">
							<div class="columns small-3">
								<h4 class="coverage__features__list__title">Hasta</h4>
								<p class="coverage__features__list__percentage">25%</p>
								<h4 class="coverage__features__list__title">De reembolso</h4>
							</div>
							<div class="columns small-9">
								<p>Sin cobertura plan del Sistema Previsional de Salud</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<p>La cobertura tendrá un periodo de carencia de 60 días desde la fecha de inicio de su vigencia.</p>
 	</section>




	<section class="tabs__coverage">
    <div class="tabs__coverage__container center-xs">
 			<div class="tabs__coverage__col">
 				<h4 class="tabs__coverage__title heading__title">COBERTURA DE SEGURO DE LESIONES ACCIDENTALES</h4>
    </div>
 	</section>


 	<section class="tabs__coverage__list">
 		<div class="tabs__coverage__list__container u-container-3">
	 		<div class="tabs__coverage__list__row u-row center-xs bottom-xs">

	 			<div class="tabs__coverage__list__col col-xs-12 col-md-6">
						<p class="tabs__coverage__list__row__desc text-center">Capital Asegurado</p>
						<p class="tabs__coverage__list__row__desc text-center">por evento</p>
						<h3 class="tabs__coverage__list__row__title text-center">UF
							<span class="activeCapital">25</span>
						</h3>
	 			</div>

	 			<div class="tabs__coverage__list__col col-xs-12 col-md-6">
					<p class="tabs__coverage__list__row__desc text-center">Deducible</p>
					<h3 class="tabs__coverage__list__row__title text-center">UF
						<span class="activeDeductible">
							0</span>
					</h3>
	 			</div>

	 		</div>
 		</div>
    <div class="u-row align-spaced" data-accordion>

        <div class="coverage__features__columns coverage__features__columns-only row columns small-12 medium-12 large-8" data-accordion-item>
          <a href="#" class="accordion-title"><img src="assets/img/ambulatoria.png" alt="Logotipo ambulatoria"> Coberturas Ambulatorias</a>
          <div class="coverage__features__tab-content" data-tab-content>
            <figure class="coverage__features__image show-for-medium">
              <img src="assets/img/iStock-470764758.jpg" alt="">
              <figcaption class="coverage__features__image-caption">
                <img src="assets/img/ico_cobertura-ambulatoria.svg">
                <h4 class="coverage__features__image__title">Coberturas Ambulatorias</h4>
              </figcaption>
            </figure>
            <ul class="coverage__features__list">
              <li class="coverage__features__list-item row">
                <div class="columns small-3">
                  <h4 class="coverage__features__list__title">Hasta</h4>
                  <p class="coverage__features__list__percentage">100%</p>
                  <h4 class="coverage__features__list__title">De reembolso</h4>
                </div>
                <div class="columns small-9">
                  <p>La compañía reembolsará al asegurado los gastos de asistencia médica y farmacéutica razonables, acostumbrados y efectivamente incurridos por el Asegurado solo en Clínica MEDS y sus Centros Médicos, tanto ambulatorios como hospitalarios, en que éste incurra a consecuencia de un accidente, en los términos y condiciones establecidos en las Condiciones Particulares,  y siempre que tales gastos sean producto de atenciones prestadas dentro del plazo de ciento veinte (120) días corridos contados desde la fecha del accidente y consecuencia de las lesiones sufridas en él.</p>
                </div>
              </li>
              <li class="coverage__features__list-item row">
                <div class="columns small-3">
                  <h4 class="coverage__features__list__title">Hasta</h4>
                  <p class="coverage__features__list__percentage">50%</p>
                  <h4 class="coverage__features__list__title">De reembolso</h4>
                </div>
                <div class="columns small-9">
                  <p>En caso que las prestaciones no tengan cobertura por parte de la ISAPRE, se considerarán como gastos médicos ambulatorios efectivamente incurridos el 50% del valor de éstos, y sobre éste monto se aplicarán los deducibles, porcentajes y topes correspondientes.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="column medium-11 align-center">
          <p class="text-center">La cobertura tendrá un periodo de carencia de 30 días desde la fecha de inicio de su vigencia.<br></p>
        </div>
      </div>
  </section>