
  <div class="tabs-panel" id="panel4">
      <div class="features__heading columns small-12">
    <h5 class="heading__title text-center smallcaps">Conoce más sobre el</h5>
    <h2 class="heading__title text-center">SEGURO CATASTRÓFICO</h2>
   <div class="columns small-12 text-center">
      <p>Porque para ti es importante tu bienestar, protégete de situaciones imprevistas de alto costo.<br></p>
    </div>
  </div>


    {{> tab-coverage-cat}}
    {{> tab-benefits}}
    {{> tab-insurability-cat}}
    {{> tab-select}}

  </div>