
  <div class="tabs-panel is-active" id="panel1">

    <div class="features__heading columns small-12">
    <h5 class="heading__title text-center smallcaps">Conoce más sobre el</h5>
    <h2 class="heading__title text-center">SEGURO DE LESIONES ACCIDENTALES</h2>
    <div class="columns small-12 text-center">
      <p>Si te gusta estar en movimiento protégete ante un accidente con los mejores especialistas traumatólogos del país.<br></p>
    </div>
  </div>
    

    {{> tab-coverage-lesiones}} 
    {{> tab-benefits}}
    {{> tab-insurability-lesiones}}
    <!-- {{> tab-select-lesiones}} -->
  
  
  </div>