
	<div class="tabs__select hide-xs show-md align-spaced align-stretch">
	  <h4 class="tabs__heading__sub-title heading__sub-title text-center"><em>¿Quieres ver otros seguro?</em></h4>
		<ul class="tabs row center-xs" data-magellan>
		  <li class="tabFirst tabs-title small-12 medium-3 active-tab">
		  	<a href="#initial">
					<h3 class="heading__sub-title"><br>Catastrófico</h3>
		  		<figure class="features__tabs__image">
			    	<div class="image-wrapper overlay-fade-in">
							<img src="{{root}}/assets/img/img_main_catastrofico.jpg" alt="" />
							<div class="image-overlay-content">
								<a href="#initial" target="_blank" class="changeCoverage contract__price__button button">
									<h4>Ver información del seguro</h4>
								</a>
								<p class="contract__price__link"><a href="#initial">Contratar ahora</a></p>
							</div>
						</div>
						<div class="tabs__select__content">
							<p class="tabs__select__content__desc">Sabemos lo importante que es tu bienestar. Protégete con un seguro de gastos médicos de alto costo.</p>
						</div>
		  		</figure>
		  	</a>
		  </li>
		  <li class="tabSecond tabs-title small-12 medium-3">
		  	<a href="#initial">
					<h3 class="heading__sub-title">Catastrófico + <br/>complementario</h3>
		  		<figure class="features__tabs__image">
			    	<div class="image-wrapper overlay-fade-in">
							<img src="{{root}}/assets/img/img_main_catastrofico-complementario.jpg" alt="" />
							<div class="image-overlay-content">
								<a href="#initial" target="_blank" class="changeCoverage contract__price__button button">
									<h4>Ver información del seguro</h4>
								</a>
								<p class="contract__price__link"><a href="#initial">Contratar ahora</a></p>
							</div>
						</div>
						<div class="tabs__select__content">
							<p class="tabs__select__content__desc">Para ti que llevas el deporte en la sangre, ten cobertura de salud para imprevistos de alto costo y tus gastos de mayor frecuencia.</p>
						</div>
		  		</figure>
		  	</a>
		  </li>
		  <li class="tabThird tabs-title small-12 medium-3">
		  	<a href="#initial">
					<h3 class="heading__sub-title">Catastrófico + <br/>lesiones accidentales</h3>
		  		<figure class="features__tabs__image">
			    	<div class="image-wrapper overlay-fade-in">
							<img src="{{root}}/assets/img/img_main_catastrofico-lesiones.jpg" alt="" />
							<div class="image-overlay-content">
								<a href="#initial" target="_blank" class="changeCoverage contract__price__button button">
									<h4>Ver información del seguro</h4>
								</a>
								<p class="contract__price__link"><a href="#initial">Contratar ahora</a></p>
							</div>
						</div>
						<div class="tabs__select__content">
							<p class="tabs__select__content__desc">Si buscas tranquilidad para tu salud, obtén cobertura de reembolso médico para accidentes y gastos médicos de alto costo.</p>
						</div>
		  		</figure>
		  	</a>
		  </li>
		  <li class="tabFourth tabs-title small-12 medium-3">
		  	<a href="#initial">
		    	<h3 class="heading__sub-title">Lesiones <br/>accidentales</h3>
		  		<figure class="features__tabs__image">
						<div class="image-wrapper overlay-fade-in">
							<img src="{{root}}/assets/img/img_main-lesiones.jpg" alt="" />
							<div class="image-overlay-content">
								<a href="#initial" target="_blank" class="changeCoverage contract__price__button button">
									<h4>Ver información del seguro</h4>
								</a>
								<p class="contract__price__link"><a href="#initial">Contratar ahora</a></p>
							</div>
						</div>
						<div class="tabs__select__content">
							<p class="tabs__select__content__desc">Si te gusta estar en movimiento protégete ante un accidente.</p>
						</div>
		  		</figure>
		  	</a>
		  </li>
		</ul>
	</div>