
	<div class="tabs__select align-spaced align-stretch">
	  <h4 class="tabs__heading__sub-title heading__sub-title text-center"><em>¿Quieres ver otros seguro?</em></h4>
		<ul class="tabs row center-xs" data-magellan>
		  <li class="tabFirst tabs-title small-12 medium-3 active-tab">
		  	<a href="#initial">
		    	<h3 class="heading__sub-title">Lesiones <br/>accidentales</h3>
		  		<figure class="features__tabs__image">
						<div class="image-wrapper overlay-fade-in">
							<img src="{{root}}/assets/img/img_main_lesiones.jpg" alt="" />
							<div class="image-overlay-content">
								<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlus" target="_blank" class="changeCoverage contract__price__button button">
									<h4>Ver información del seguro</h4>
								</a>
								<p class="contract__price__link"><a href="#">Contratar ahora</a></p>
							</div>
						</div>
						<div class="tabs__select__content">
							<p class="tabs__select__content__desc">Para ti que quieres lo mejor para tu salud, busca tranquilidad en todas las etapas de tu vida.</p>
						</div>
		  		</figure>
		  	</a>
		  </li>
		  <li class="tabSecond tabs-title small-12 medium-3">
		  	<a href="#initial">
					<h3 class="heading__sub-title">Catastrófico + <br/>lesiones accidentales</h3>
		  		<figure class="features__tabs__image">
			    	<div class="image-wrapper overlay-fade-in">
							<img src="{{root}}/assets/img/img_main_catastrofico-lesiones.jpg" alt="" />
							<div class="image-overlay-content">
								<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlus" target="_blank" class="changeCoverage contract__price__button button">
									<h4>Ver información del seguro</h4>
								</a>
								<p class="contract__price__link"><a href="#">Contratar ahora</a></p>
							</div>
						</div>
						<div class="tabs__select__content">
							<p class="tabs__select__content__desc">Para ti que quieres lo mejor para tu salud, busca tranquilidad en todas las etapas de tu vida.</p>
						</div>
		  		</figure>
		  	</a>
		  </li>
		  <li class="tabThird tabs-title small-12 medium-3">
		  	<a href="#initial">
					<h3 class="heading__sub-title">Catastrófico + <br/>complementario</h3>
		  		<figure class="features__tabs__image">
			    	<div class="image-wrapper overlay-fade-in">
							<img src="{{root}}/assets/img/img_main_catastrofico-complementario.jpg" alt="" />
							<div class="image-overlay-content">
								<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlus" target="_blank" class="changeCoverage contract__price__button button">
									<h4>Ver información del seguro</h4>
								</a>
								<p class="contract__price__link"><a href="#">Contratar ahora</a></p>
							</div>
						</div>
						<div class="tabs__select__content">
							<p class="tabs__select__content__desc">Para ti que quieres lo mejor para tu salud, busca tranquilidad en todas las etapas de tu vida.</p>
						</div>
		  		</figure>
		  	</a>
		  </li>
		  <li class="tabFourth tabs-title small-12 medium-3">
		  	<a href="#initial">
					<h3 class="heading__sub-title"><br>Catastrófico</h3>
		  		<figure class="features__tabs__image">
			    	<div class="image-wrapper overlay-fade-in">
							<img src="{{root}}/assets/img/img_main_catastrofico.jpg" alt="" />
							<div class="image-overlay-content">
								<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlus" target="_blank" class="changeCoverage contract__price__button button">
									<h4>Ver información del seguro</h4>
								</a>
								<p class="contract__price__link"><a href="#">Contratar ahora</a></p>
							</div>
						</div>
						<div class="tabs__select__content">
							<p class="tabs__select__content__desc">Para ti que quieres lo mejor para tu salud, busca tranquilidad en todas las etapas de tu vida.</p>
						</div>
		  		</figure>
		  	</a>
		  </li>
		</ul>
	</div>