
	<section class="insurability" id="insurability" data-magellan-target="insurability">
		<div class="insurability__heading u-row">
			<div class="columns text-center">
				<h4 class="insurability__title heading__title">Requisitos de asegurabilidad</h4>
				<p class="insurability__description">Son asegurables los clientes que obtengan prestaciones o atenciones médicas en Clínica MEDS y sus Centros Médicos.</p>
			</div>
		</div>

		<!-- Cobertura -->

		<div class="changeCoverage insurability__row u-row">
			<div class="columns small-12 medium-6">
				<div class="insurability__box text-center">
					<p class="insurability__box__desc"><span>Asegurado:</span></p>
					<p class="insurability__box__desc">Titular, Cónyuge, Conviviente civil o pareja</p>
					<p class="insurability__box__desc"><span>Edad Mínima / Máxima de incorporación:</span></p>
					<p class="insurability__box__desc">18 años / 69 años y 364 días</p>
					<p class="insurability__box__desc"><span>Edad máxima de permanencia:</span></p>
					<p class="insurability__box__desc">79 años y 364 días</p>
				</div>
			</div>
			<div class="columns small-12 medium-6">
				<div class="insurability__box text-center">
					<p class="insurability__box__desc"><span>Asegurado:</span></p>
					<p class="insurability__box__desc">Hijos y nietos</p>
					<p class="insurability__box__desc"><span>Edad Mínima / Máxima de incorporación:</span></p>
					<p class="insurability__box__desc">14 días / 22 años y 364 días</p>
					<p class="insurability__box__desc"><span>Edad máxima de permanencia:</span></p>
					<p class="insurability__box__desc">23 años y 364 días</p>
				</div>
			</div>
		</div>



		<!-- End Cobertura -->

		<div class="insurability__features u-row">
			<ul class="insurability__list">
				<li class="insurability__list-item bullet-list">
					<p class="insurability__list-item__desc">Solo para pacientes afiliados a un sistema de ISAPRES</p>
				</li>
				<li class="insurability__list-item bullet-list">
					<p class="insurability__list-item__desc">Exclusivo para prestaciones en Clínica MEDS y sus centros médicos</p>
				</li>
				<li class="insurability__list-item bullet-list">
					<p class="insurability__list-item__desc">La cobertura comenzará su vigencia a partir del primer (1er) día del mes siguiente a la contratación. En consecuencia todas aquellas enfermedades que hayan sido diagnosticadas o los accidentes ocurridos con anterioridad a la fecha de inicio de vigencia, se considerarán preexistentes.</p>
				</li>
				<li class="insurability__list-item bullet-list">
					<p class="insurability__list-item__desc">No pueden contratar deportistas profesionales</p>
				</li>
				<li class="insurability__list-item bullet-list">
					<p class="insurability__list-item__desc"><a data-open="exclution">Ver Exclusiones de Cobertura</a></p>
					<div class="reveal" id="exclution" data-reveal>
					  <h3 class="insurability__list-item__title text-center">EXCLUSIONES</h3>
					  <ul>
					  	<li class="bullet-list"><p>Para el Seguro de Prestaciones Médicas de Alto Costo, regirán las exclusiones establecidas en el artículo N°4 de las Condiciones  Generales registradas en el depósito de pólizas de la  Superintendencia de  Valores y Seguros bajo el código <a href="#" target="_blank">POL 3 2015 0527.</a></p>
					  	<p>Sin perjuicio de lo señalado, se deja sin efecto las exclusiones establecidas en las letras h) , letra e) y letra q) número vii.,  Artículo 4º del <a href="#" target="_blank">POL 3 2015 0527.</a></p>
					  	</li>
					  </ul>
					  <button class="close-button" data-close="" aria-label="Close modal" type="button">
      		    <span aria-hidden="true">×</span>
      		  </button>
					</div>
				</li>
			</ul>
		</div>
	</section>


	{{> tab-contract}}