<section class="tabs__heading">
      <div class="tabs__heading__container">
       	<h5 class="tabs__heading__sub-title heading__sub-title text-center">PRINCIPALES CARACTERÍSTICAS DEL SEGURO CATASTRÓFICO</h5>
       	<p class="tabs__heading__desc text-center">Reembolso de gastos médicos incurridos con ocasión de lesiones accidentales, una vez que hayas hecho uso de tu Isapre. Sin Deducible y con coberturas en Clínicas MEDS La Dehesa y todos sus Centros MEDS en Santiago y Regiones.</p>
      </div>
    </section>



   	<section class="tabs__features">
      <div class="tabs__features__container u-container-2">
        <div class="tabs__features__row u-row">
       		<div class="tabs__features__column col-xs-12 col-md-6">
       			<ul>
       				<li class="bullet-list">Capital Asegurado <strong>hasta 3000 UF por evento</strong></li>
       				<li class="bullet-list">Deducible de UF 100</li>
       				<li class="bullet-list">Cobertura hasta cumplir <strong>80 años.</strong></li>
       				<li class="bullet-list">Cobertura en todas los clínicas y centros médicos de Chile</li>
       			</ul>
       		</div>
        </div>
      </div>
   	</section>
	
	<section class="tabs__coverage">
    <div class="tabs__coverage__container u-container-2 center-xs">
 			<div class="tabs__coverage__col">
 				<h4 class="tabs__coverage__title heading__title">COBERTURAS SEGURO CATASTRÓFICO</h4>
 				<p class="tabs__coverage__description">Las coberturas dependen de la edad del asegurado y del plan seleccionado.<br>Para conocer cuales son tus coberturas cuéntanos primero:</p>
 				<p class="tabs__coverage__date"><em>¿Cuál es tu edad?</em></p>
 			</div>
	    <select name="" class="activeCoverage">
	    	<option value="18">18 años hasta cumplir 70 años</option>
	    	<option value="70">70 años hasta cumplir 80 años</option>
	    </select>
    </div>
	</section>


 	<section class="tabs__coverage__list">
 		<div class="tabs__coverage__list__container u-container-3">
	 		<div class="tabs__coverage__list__row u-row center-xs bottom-xs">

	 			<div class="tabs__coverage__list__col col-xs-12 col-md-6">
						<p class="tabs__coverage__list__row__desc text-center">Capital Asegurado</p>
						<p class="tabs__coverage__list__row__desc text-center">por evento</p>
						<h3 class="tabs__coverage__list__row__title text-center">UF
							<span class="activeCapital"
								data-c18="3000"
								data-c70="2000"></span>
						</h3>
	 			</div>

	 			<div class="tabs__coverage__list__col col-xs-12 col-md-6">
					<p class="tabs__coverage__list__row__desc text-center">Deducible</p>
					<h3 class="tabs__coverage__list__row__title text-center">UF
						<span class="activeDeductible"
							data-c18="100"
							data-c70="200"></span>
					</h3>
	 			</div>

	 		</div>
 		</div>

	  <div class="u-row align-spaced" data-accordion>
			<div class="coverage__features__columns row columns small-12 medium-6 is-active" data-accordion-item>
				<a href="#" class="accordion-title"><img src="assets/img/hospitalaria.png" alt="Logotipo Hospitalarias"> Coberturas hospitalarias</a>
				<div class="coverage__features__tab-content" data-tab-content>
					<figure class="coverage__features__image show-for-medium">
						<img src="assets/img/iStock-520613914.jpg" alt="">
						<figcaption class="coverage__features__image-caption">
							<img src="assets/img/ico_cobertura-hospitalaria.svg">
							<h4 class="coverage__features__image__title"> Coberturas Hospitalarias</h4>
						</figcaption>
					</figure>
					<ul class="coverage__features__list">
						<li class="coverage__features__list-item row">
							<div class="columns small-3">
								<h4 class="coverage__features__list__title">Hasta</h4>
								<p class="coverage__features__list__percentage">100%</p>
								<h4 class="coverage__features__list__title">De reembolso</h4><br/>
							</div>
							<div class="columns small-9">
								<p>Días cama, Intermedio; Recuperación ,Servicios hospitalarios/ Medicamentos Hospitalarios, Honorarios médicos quirúrgicos, Prótesis y Órtesis Quirúrgicas, Cirugía Plástica Reparadora por accidente, Servicio de enfermera y Servicio de ambulancia terrestre en Clínica MEDS y otras clínicas no especificadas en el Grupo 1. </p>
							</div>
						</li>
						<li class="coverage__features__list-item row">
							<div class="columns small-3">
								<h4 class="coverage__features__list__title">Hasta</h4>
								<p class="coverage__features__list__percentage">75%</p>
								<h4 class="coverage__features__list__title">De reembolso</h4><br/>
							</div>
							<div class="columns small-9">
								<p>Días cama, Intermedio; Recuperación ,Servicios hospitalarios/ Medicamentos Hospitalarios, Honorarios médicos quirúrgicos, Prótesis y Órtesis Quirúrgicas, Cirugía Plástica Reparadora por accidente en Clínica Alemana, Clínica Las Condes, Clínica San Carlos de Apoquindo y Clínica Universidad de los Andes. </p>
							</div>
						</li>
						<li class="coverage__features__list-item row align-middle">
							<div class="columns small-3">
								<h4 class="coverage__features__list__title">Hasta</h4>
								<p class="coverage__features__list__percentage">50%</p>
								<h4 class="coverage__features__list__title">De reembolso</h4>
							</div>
							<div class="columns small-9">
								<p>Si la Isapre no cubre al menos el 50%</p>
							</div>
						</li>
						<li class="coverage__features__list-item row align-middle">
							<div class="columns small-3">
								<h4 class="coverage__features__list__title">Hasta</h4>
								<p class="coverage__features__list__percentage">25%</p>
								<h4 class="coverage__features__list__title">De reembolso</h4>
							</div>
							<div class="columns small-9">
								<p>Sin Cobertura Plan del Sistema Previsional de Salud</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="coverage__features__columns row columns small-12 medium-6" data-accordion-item>
				<a href="#" class="accordion-title"><img src="assets/img/ambulatoria.png" alt="Logotipo ambulatoria"> Coberturas Ambulatorias</a>
				<div class="coverage__features__tab-content" data-tab-content>
					<figure class="coverage__features__image show-for-medium">
						<img src="assets/img/iStock-470764758.jpg" alt="">
						<figcaption class="coverage__features__image-caption">
							<img src="assets/img/ico_cobertura-ambulatoria.svg">
							<h4 class="coverage__features__image__title">Coberturas Ambulatorias</h4>
						</figcaption>
					</figure>
					<ul class="coverage__features__list">
						<li class="coverage__features__list-item row">
							<div class="columns small-3">
								<h4 class="coverage__features__list__title">Hasta</h4>
								<p class="coverage__features__list__percentage">100%</p>
								<h4 class="coverage__features__list__title">De reembolso</h4>
							</div>
							<div class="columns small-9">
								<p>Cirugía Ambulatoria, Consultas Médicas, Exámenes de Laboratorio, Exámenes Imagenología, Procedimientos de Diagnósticos y Terapéuticos, Kinesiología, Prótesis y Ortesis Ambulatoria  en Clínica MEDS y otras clínicas no especificadas en el Grupo 1.</p>
							</div>
						</li>
						<li class="coverage__features__list-item row">
							<div class="columns small-3">
								<h4 class="coverage__features__list__title">Hasta</h4>
								<p class="coverage__features__list__percentage">75%</p>
								<h4 class="coverage__features__list__title">De reembolso</h4>
							</div>
							<div class="columns small-9">
								<p>Cirugía Ambulatoria, Consultas Médicas, Exámenes de Laboratorio, Exámenes Imagenología, Procedimientos de Diagnósticos y Terapéuticos, Kinesiología, Prótesis y Ortesis Ambulatoria  en Clínica Alemana, Clínica Las Condes, Clínica San Carlos de Apoquindo y Clínica Universidad de los Andes.</p>
							</div>
						</li>
						<li class="coverage__features__list-item row align-middle">
							<div class="columns small-3">
								<h4 class="coverage__features__list__title">Hasta</h4>
								<p class="coverage__features__list__percentage">50%</p>
								<h4 class="coverage__features__list__title">De reembolso</h4>
							</div>
							<div class="columns small-9">
								<p>Medicamentos Ambulatorios*</p>
								<p>Si la Isapre no cubre al menos el 50%</p>
							</div>
						</li>
						<li class="coverage__features__list-item row align-middle">
							<div class="columns small-3">
								<h4 class="coverage__features__list__title">Hasta</h4>
								<p class="coverage__features__list__percentage">25%</p>
								<h4 class="coverage__features__list__title">De reembolso</h4>
							</div>
							<div class="columns small-9">
								<p>Sin cobertura plan del Sistema Previsional de Salud</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<p><br>La cobertura tendrá un periodo de carencia de 30 días desde la fecha de inicio de su vigencia.</p>
			<p><br><br>&nbsp;</p>
 	</section>