
					  <li class="tabs-title small-12 medium-3 is-active">
					  	<a href="#panel1" aria-selected="true">
					  		<figure class="features__tabs__image">
					  			<img src="{{root}}/assets/img/tab-1.jpg" alt="" />
					  			<div class="features__tabs__content">
						  			<h4 class="features__tabs__content__title">Lesiones <br/>accidentales</h4>
						  			<p class="features__tabs__content__desc">Para ti que quieres ... Lesiones accidentales</p>
					  			</div>
					  		</figure>
					  	</a>
					  </li>
					  <li class="tabs-title small-12 medium-3">
					  	<a href="#panel2">
					  		<figure class="features__tabs__image">
					  			<img src="{{root}}/assets/img/tab-2.jpg" alt="" />
					  			<div class="features__tabs__content">
						  			<h4 class="features__tabs__content__title">Catastrófico + <br/>lesiones accidentales</h4>
						  			<p class="features__tabs__content__desc">Para ti que quieres ... Catastrófico + lesiones accidentales</p>
					  			</div>
					  		</figure>
					  	</a>
					  </li>
					  <li class="tabs-title small-12 medium-3">
					  	<a href="#panel3">
					  		<figure class="features__tabs__image">
					  			<img src="{{root}}/assets/img/tab-3.jpg" alt="" />
					  			<div class="features__tabs__content">
						  			<h4 class="features__tabs__content__title">Catastrófico + <br/>complementario</h4>
						  			<p class="features__tabs__content__desc">Para ti que quieres ... Catastrófico + complementario</p>
					  			</div>
					  		</figure>
					  	</a>
					  </li>
					  <li class="tabs-title small-12 medium-3">
					  	<a href="#panel4">
					  		<figure class="features__tabs__image">
					  			<img src="{{root}}/assets/img/tab-4.jpg" alt="" />
					  			<div class="features__tabs__content">
						  			<h4 class="features__tabs__content__title">Catastrófico</h4>
						  			<p class="features__tabs__content__desc">Para ti que quieres ... Catastrófico</p>
					  			</div>
					  		</figure>
					  	</a>
					  </li>