
	<div class="tabs__primary row align-spaced align-stretch">
		<ul class="tabs row center-xs" data-magellan id="tabs">
			<li class="tabFirst tabs-title small-6 medium-5 large-3 is-active">
		  	<a href="#panel1">
		  		<figure class="features__tabs__image">
		  			<div class="image-wrapper overlay-fade-in">
				    	<img src="{{root}}/assets/img/img_main_catastrofico.jpg" alt="" />
				    	<div class="tabs__primary__banner__text">
				    		<h4>Seguro <br/> Catastrófico </h4>
				    	</div>
							<div class="image-overlay-content">
					    	<h3 class="features__tabs__content__title">Seguro<br>Catastrófico</h3>
								<h4 class="intro__columns__contract__desc">Llévalo desde:</h4>
								<p class="intro__price__amount">
								<span class="price-peso">$ <span class="price-mount">7.273</span><i>(1)</i></span>
								<span class="intro__price__second-amount">UF: <span class="intro__price__second-amount">0,276</span></span>
								</p>
								<a href="https://segurosmeds.metlife.cl/VentaWeb/Formulario/MedsCatastrofico" target="_blank" class="contract__price__button button">
									<h3>Contratalo ahora</h3>
									<p class="hide-xs show-sm"><em>Y tu primera prima es sin costo</em></p>
								</a>
								<p class="contract__price__link"><a href="#initial">Ver más información del seguro</a></p>
							</div>
				    </div>
		  		</figure>
		  	</a>
		  </li>
		  <li class="tabSecond tabs-title small-6 medium-5 large-3">
		  	<a href="#panel2">
		  		<figure class="features__tabs__image">
		  			<div class="image-wrapper overlay-fade-in">
				    	<img src="{{root}}/assets/img/img_main_catastrofico-complementario.jpg" alt="" />
				    	<div class="tabs__primary__banner__text">
				    		<h4>Seguro Catastrófico + <br/>Seguro Complementario</h4>
				    	</div>
							<div class="image-overlay-content">
					    	 	<h3 class="features__tabs__content__title">Seguro Catastrófico + <br/>Seguro Complementario</h3>
								<h4 class="intro__columns__contract__desc">Llévalo desde:</h4>
								<p class="intro__price__amount">
								<span class="price-peso">$ <span class="price-mount">19.345</span><i>(1)</i></span>
								<span class="intro__price__second-amount">UF: <span class="intro__price__second-amount">0,734</span></span>
								</p>
								<a href="https://segurosmeds.metlife.cl/VentaWeb/Formulario/MedsCatastroficoComp" target="_blank" class="contract__price__button button">
									<h3>Contrátalo ahora</h3>
									<p class="hide-xs show-sm"><em>Y tu primera prima es sin costo</em></p>
								</a>
								<p class="contract__price__link"><a href="#initial">Ver más información del seguro</a></p>
							</div>
				    </div>
		  		</figure>
		  	</a>
		  </li>
		  <li class="tabThird tabs-title small-6 medium-5 large-3">
		  	<a href="#panel3">
		  		<figure class="features__tabs__image">
		  			<div class="image-wrapper overlay-fade-in">
				    	<img src="{{root}}/assets/img/img_main_catastrofico-lesiones.jpg" alt="" />
				    	<div class="tabs__primary__banner__text">
				    		<h4>Seguro Catastrofico + <br/>Seguro Lesiones Accidentales</h4>
				    	</div>
							<div class="image-overlay-content">
								<h3 class="features__tabs__content__title">Seguro Catastrófico + <br/>Seguro Lesiones Accidentales</h3>
								<h4 class="intro__columns__contract__desc">Llévalo desde:</h4>
								<p class="intro__price__amount">
									<span class="price-peso">$ <span class="price-mount">11.201</span><i>(1)</i></span>
									<span class="intro__price__second-amount">UF: <span class="intro__price__second-amount">0,425</span></span>
								</p>
								<a href="https://segurosmeds.metlife.cl/VentaWeb/Formulario/MedsCatastroficoLA" target="_blank" class="contract__price__button button">
									<h3>Contratalo ahora</h3>
									<p class="hide-xs show-sm"><em>Y tu primera prima es sin costo</em></p>
								</a>
								<p class="contract__price__link"><a href="#initial">Ver más información del seguro</a></p>
							</div>
				    </div>
		  		</figure>
		  	</a>
		  </li>
		  <li class="tabFourth tabs-title small-6 medium-5 large-3">
		  	<a href="#panel4" aria-selected="true">
		  		<figure class="features__tabs__image">
		  			<div class="image-wrapper overlay-fade-in">
				    	<img src="{{root}}/assets/img/img_main-lesiones.jpg" alt="" />
				    	<div class="tabs__primary__banner__text">
				    		<h4>Seguro Lesiones <br/>Accidentales</h4>
				    	</div>
				    	 <div class="image-overlay-content">
				    	 	<h3 class="features__tabs__content__title">Seguro Lesiones <br/>Accidentales</h3>
								<h4 class="intro__columns__contract__desc">Llévalo desde:</h4>
								<p class="intro__price__amount">
									<span class="price-peso">$ <span class="price-mount">3.926</span><i>(1)</i></span>
									<span class="intro__price__second-amount">UF: <span class="intro__price__second-amount">0,149</span></span>
								</p>
								<a href="https://segurosmeds.metlife.cl/VentaWeb/Formulario/MedsLA" target="_blank" class="contract__price__button button">
									<h3>Contratalo ahora</h3>
									<p class="hide-xs show-sm"><em>Y tu primera prima es sin costo</em></p>
								</a>
								<p class="contract__price__link"><a href="#initial">Ver más información del seguro</a></p>
							</div>
				    </div>
		  		</figure>
		  	</a>
		  </li>
		</ul>
	</div>