
	.reveal {
		padding: 2rem 1.6rem !important;
	}

	.tabs__benefits__container {
		border-bottom: 4px solid #009bde;
	}

	.tabs__benefits__title {
		margin-bottom: 6px;
	}

	.tabs__benefits__row {
		margin: 0 1.6rem 3rem;
	}

	@media screen and ( min-width: 48em ) {
		.tabs__benefits__row {
			margin: 3rem auto;
			max-width: 500px;
		}
	}