
	.button {
		background-image: linear-gradient(to bottom, #f49738 0%,#d98427 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		background-color: #e68b2e;
		box-shadow: 0px 2px 2px 0px #522b60;
		font-weight: 700;
		text-transform: uppercase;
		&:hover,
		&:focus {
			background-color: #e68b2e;
			background-image: none;
		}
	}