
	.features {
		padding-top: 4rem;
		background: url("http://www.walldevil.com/wallpapers/a85/backgrounds-high-resolution-blurred-background1-blur-light-blue.jpg")no-repeat;
		.tabs {
			margin-left: 0;
			margin-right: 0;
			width: 100%;
		}

		.tabs__list {
			margin: 3rem 0;
		}

		.tabs-panel {
			padding: 3rem 0;
			.heading__sub-title {
				margin-top: 2rem;
				margin-bottom: 1rem;
			}
		}

		.tabs-title {
			float: none;
			text-align: center;
			
		}
	}



.image-wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0,0,0,0.04);
  overflow: hidden;
  position: relative;
  text-align: center;
}

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

// modifier classes

.overlay-fade-in {
  
  p {
    opacity: 0;
    transition: all 0.2s linear;
    margin-top: 10px;
  }
  a {
  	color: white;
  }
  
  img {
    transition: all 0.2s linear;
  }
  
  .image-overlay-content {
    opacity: 0;
    background-color: rgba(0,0,0, 0.4);
    transition: all 0.4s ease-in-out;
  }
  
  h2 {
    color: #f2f2f2;
    font-size: 1.8rem;
    margin-top: 40%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    background: rgba(0,0,0,0.7);
  }
  
  
  &:hover img {
    transform: scale(1.1);
    -webkit-filter:blur(10px);
    filter: blur(10px);
  }
  
  &:hover .image-overlay-content {
    opacity: 1;
  }
  
  &:hover h2, p, .button {
    opacity: 1;
  }
  
  &:hover p {
    transition-delay: 0.1s;
  }
  
  &:hover .button {
    transition-delay: 0.2s;
    padding: 10px;
  }
} 




.overlay-slide-in-left {
  img {
    transition: all 0.3s ease-in-out;
  }
  .image-overlay-content {
    background-image: url(http://www.awwwards.com/awards/images/2015/04/pattern.jpg);
    background-color: rgba(0,0,0,0.3);
    transform: translateX(-110%);
    opacity: 1;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 7px #ccc;
  }
  .overlay-slide-in-left h3{
  	margin-top: -100px;
  }


  .button {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px; 
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    position: relative;
    border-radius: 7px;

    &:hover {
      background-color: #444;
    }
  }

  &:hover .image-overlay-content {
    transform: translateX(0px);
  } 

  &:hover img {
    transform: translateX(80%);
    transition-delay: 0.1s;
  }

  &:hover p{
    opacity: 1;
    transition-delay: 0.4s;
  }
}
  
  
.overlay-fade-in-new-background {
  
  .button {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px; 
    background: #000;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 0 1px #000;
    position: relative;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    
    &:hover {
      box-shadow: 0 0 5px #fff;
      background-color: #222;
    }
  }
  
  p{
    font-size: 28px; 
  }
  
  .image-overlay-content {
    opacity: 0;
      background-image: url(http://subtlepatterns.com/patterns/gplaypattern.png);
    background-color: rgba(255,255,255, 0.5);
    transition: all 0.4s ease-in-out;
  }
  
  h2 {
    color: #000;
    font-size: 1.6rem;
    margin-top: 30%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  
  p {
    opacity: 0;
    transition: all 0.2s linear;
  }
  
  img{
    transition: all 0.2s ease-in-out;
  }
  
  &:hover img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    transform: scale(1.5);
  }
  
  &:hover .image-overlay-content {
    opacity: 1;
  }
  
  &:hover h2, p, .button {
    opacity: 1;
  }
  
  &:hover p {
    transition-delay: 0.1s;
  }
  
  &:hover .button {
    transition-delay: 0.2s;
  }
} 
	.features__contract {
		background-color: #AE83BF;
		color: white;
		padding: 0.5rem 0;
		h3 {
			margin-bottom: 0;
		}
	}

	.features__heading {
		margin-bottom: 3rem;
		h2 {
			font-weight: 600;
			margin: 0;
		}
		margin-bottom: 3rem;
	}

	.features__header {
		position: relative;
		.hide {
			display: none;
		}
	}

	.features__header__image {
		margin: 0;
	}

	.features__tabs__content__desc {
		display: none;
	}

	.features__tabs__image {
		img {
			display: none;
		}
	}

	.features__list {
		.features__list {
			margin-top: 1rem;
			.bullet-list {
				margin-bottom: 0;
			}
		}
	}

	.features__main {
		padding: 3rem 0;
		li {
			margin-bottom: 1rem;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	.features__main__more {
		margin: 1rem 0;
		p {
			margin-bottom: 0;
		}
	}

	.features__umbrella {
		font-size: 18px;
		margin-bottom: 0;
		i {
			color: #6fabe7;
		}
	}

	.features__umbrella__row {
		margin: 2rem 0;
		text-align: center;
		.columns {
			padding: 0;
		}
	}

	.features__sub-title {
		margin: 1rem 0 3rem;
		text-transform: uppercase;
		text-align: left;
	}



	.wrapper {
		position: relative;
		&:before {
			background-color: #8c51a1;
			bottom: 0;
			content: "";
			left: 0;
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
			transition: all .2s cubic-bezier( .4,0,.2,1 );
			visibility: hidden;
			z-index: 10;
		}
		&.animate {
			&:before {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.loading {
		bottom: 0;
		display: none;
		left: 0;
		opacity: 0;
		padding-top: 3rem;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		&.animate {
			display: block;
			opacity: 1;
			visibility: visible;
			z-index: 10;
		}
		h3 {
			color: white;
			font-weight: bolder;
			letter-spacing: -1px;
			margin-top: 3rem;
			text-transform: uppercase;
		}
	}

	.loader {
	  font-size: 10px;
	  margin: 50px auto;
	  text-indent: -9999em;
	  width: 11em;
	  height: 11em;
	  border-radius: 50%;
	  background: #ffffff;
	  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	  position: relative;
	  -webkit-animation: load3 1.4s infinite linear;
	  animation: load3 1.4s infinite linear;
	  -webkit-transform: translateZ(0);
	  -ms-transform: translateZ(0);
	  transform: translateZ(0);
	}
	.loader:before {
	  width: 50%;
	  height: 50%;
	  background: #ffffff;
	  border-radius: 100% 0 0 0;
	  position: absolute;
	  top: 0;
	  left: 0;
	  content: '';
	}
	.loader:after {
	  background: #8c51a1;
	  width: 75%;
	  height: 75%;
	  border-radius: 50%;
	  content: '';
	  margin: auto;
	  position: absolute;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	}
	@-webkit-keyframes load3 {
	  0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
	  }
	}
	@keyframes load3 {
	  0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
	  }
	}
	.parallax-window {
    min-height: 700px;
    background: transparent;
	}

	@media screen and ( min-width: 40em ) {

		.features {
			.tabs {
				border: 0;
				// border-bottom: 4px solid #b6b6b8;
			}

			.tabs__list {
				margin: 3rem auto;
				max-width: 960px;
			}

			.tabs-panel {
				padding: 3rem 0;
			}

			.tabs-title {
				padding: 4px 6px;
				position: relative;
				top: 2px;
				&.is-active {
					// padding: 0;
					// top: 4px;
					.features__tabs__content {
						bottom: 0;
						position: absolute;
						.features__tabs__content__desc {
							display: none;
						}
					}
				}
				& > a {
					padding: 0;
				}
				.features__tabs__content {
					bottom: 0;
					color: white;
					left: 0;
					position: absolute;
					right: 0;
					text-align: center;
					z-index: 1;
				}

				.features__tabs__content__title {
					font-weight: bolder;
					letter-spacing: -1px;
					text-transform: uppercase;
					color: white;
					font-size: 1.2rem;
					margin-top: 40px;
					margin-bottom: 20px;
				}

			}
		}




		.features__header {
			.columns {
				&:last-of-type {
					img {
						max-width: 460px;
					}
				}
			}
		}


		.features__tabs__content__desc {
			display: inline-block;
		}

		.features__umbrella__row {
			margin: 0;
			text-align: left;
		}


		.features__tabs__image {
			position: relative;
			&:before {
				background-color: rgba( 0,0,0,.5 );
				bottom: 0;
				content: "";
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
			}
			img {
				display: inline-block;
				object-fit: cover;
			}
		}
	}