
	.insurability {
		padding: 3rem 0;
	}

	.flex-video iframe, .flex-video object, .flex-video embed, .flex-video video {
		top: 3rem;
	}

	.insurability__box {
		background-image: linear-gradient(to top, #dedede 0%, #FFFFFF 100%);
		border: 1px solid #989898;
		border-radius: 6px;
		padding: 1rem;
		text-align: left;
	}

	.insurability__box__desc {
		span {
			color: #009ae0;
			font-weight: bold;
		}
		&:nth-of-type( odd ) {
			margin-bottom: 0;
		}
	}
	.insurability__list-item__title {
		font-weight: bolder;
	}

	.insurability__features {
		padding: 0 1.6rem;
		margin-top: .8rem;
	}

	.insurability__row {
		.columns {
			&:first-of-type {
				margin-bottom: 1rem;
			}
		}
	}

	.insurability__title {
		margin-bottom: 6px;

	}

	.card {
	  overflow: hidden;
	  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	  color: #272727;
	  border-radius: 2px;
	  margin-bottom: 1rem;
	  .title {
	  	background-color: #7fa3d3;
	    border-bottom: 4px solid #009ae0;
			color: white;
			display: block;
			padding: 1.3rem;
	  }
	  .content {
	    padding: 1.3rem;
	    font-weight: 300;
	    border-radius: 0 0 2px 2px;
	  }
	  p {
	  	margin: 0;
	  }
	  .action {
	    border-top: 1px solid rgba(160, 160, 160, 0.2);
	    padding: 1.3rem;
	  }
	  a {
	    color: #ffab40;
	    margin-right: 1.3rem;
	    transition: color 0.3s ease;
	    text-transform: uppercase;
	    text-decoration: none;
	  }
	}


	@media screen and ( min-width: 40em ) {


		.insurability {
			.columns {
				margin-bottom: 0;
			}
		}

		.insurability__box {
			text-align: center;
		}

		.insurability__description {
			margin-bottom: 2rem;
		}

		.insurability__row {
			margin: 3rem auto;
			max-width: 800px;
			.columns {
				&:first-of-type {
					margin-bottom: 0;
				}
			}
		}

	}

	@media screen and ( min-width: 62em ) {

		.insurability__features {
			padding: 3rem;
		}
	}