
	.tabs__coverage__list__row__title {
		.has-tip {
			font-size: 14px;
			position: relative;
			top: -8px;
		}
	}

	.tabs__heading__container {
		padding: 0 1.6rem;
	}

	.tabs__features__container {
		padding: 3rem 1.6rem;
	}

	.coverage__features__list__percentage {
		.has-tip {
			font-size: 13px;
		}
	}

	@media screen and ( min-width: 62em ) {

		.tabs__features__container {
			padding: 3rem;
		}

		.tabs__heading__container {
			padding: 0 3rem;
		}

	}