
	<section class="contract" id="contract" data-magellan-target="contract">
		<div class="contract__container u-container">
			<div class="row">
				<div class="columns text-center">
					<h2 class="contract__title heading__title">¿Listo para contratar?</h2>
					<p class="contract__desc">Las primas de tu seguro dependerá del seguro y plan seleccionado. El número de asegurados y la edad del asegurado de mayor edad.</p>
				</div>
			</div>
			<div class="row center-xs">
				<div class="columns small-12 large-4">
					<h4 class="contract__sub-title">Tipo de seguro</h4>
					<select name="" id="secure2" class="secure">
						<option value="secure1">Seguro catastrófico</option>
						<option value="secure2">Seguro catastrófico + complementario</option>
						<option value="secure3">Seguro catastrófico + lesiones accidentales</option>
						<option value="secure4">Seguro lesiones accidentales</option>
					</select>
				</div>
				<div class="columns small-12 large-4">
					<h4 class="contract__sub-title">Cantidad de asegurados:</h4>
					<select name="" id="secureCan2" class="secureCan">
						<option value="titular1"
							data-uf14="0.276"
							data-uf25="0.368"
							data-uf35="0.432"
							data-uf40="0.533"
							data-uf45="0.701"
							data-uf50="1.080"
							data-uf55="1.478"
							data-uf60="1.964"

							data-uf214="0.734"
							data-uf225="0.826"
							data-uf235="0.890"
							data-uf240="0.991"
							data-uf245="1.159"
							data-uf250="1.538"
							data-uf255="1.936"

							data-uf314="0.425"
							data-uf325="0.517"
							data-uf335="0.581"
							data-uf340="0.682"
							data-uf345="0.850"
							data-uf350="1.229"
							data-uf355="1.627"
							data-uf360="2.113"

							data-uf414="0.149">
							Titular sin asegurados dependientes
						</option>
						<option value="titular2"
							data-uf14="0.497"
							data-uf25="0.663"
							data-uf35="0.778"
							data-uf40="0.960"
							data-uf45="1.262"
							data-uf50="1.994"
							data-uf55="2.661"
							data-uf60="3.535"

							data-uf214="1.321"
							data-uf225="1.487"
							data-uf235="1.602"
							data-uf240="1.784"
							data-uf245="2.086"
							data-uf250="2.768"
							data-uf255="3.485"

							data-uf314="0.795"
							data-uf325="0.961"
							data-uf335="1.076"
							data-uf340="1.258"
							data-uf345="1.560"
							data-uf350="2.242"
							data-uf355="2.959"
							data-uf360="3.833"

							data-uf414="0.298">
							Titular más un asegurado dependiente
						</option>
						<option value="titular3"
							data-uf14="0.691"
							data-uf25="0.921"
							data-uf35="1.080"
							data-uf40="1.333"
							data-uf45="1.753"
							data-uf50="2.700"
							data-uf55="3.696"
							data-uf60="4.910"

							data-uf214="1.835"
							data-uf225="2.065"
							data-uf235="2.225"
							data-uf240="2.478"
							data-uf245="2.898"
							data-uf250="3.845"
							data-uf255="4.840"

							data-uf314="1.138"
							data-uf325="1.368"
							data-uf335="1.527"
							data-uf340="1.780"
							data-uf345="2.200"
							data-uf350="3.147"
							data-uf355="4.143"
							data-uf360="5.357"

							data-uf414="0.447">
							Titular más dos asegurados dependientes
						</option>
						<option value="titular4"
							data-uf14="0.829"
							data-uf25="1.105"
							data-uf35="1.296"
							data-uf40="1.600"
							data-uf45="2.104"
							data-uf50="3.240"
							data-uf55="4.435"
							data-uf60="5.892"

							data-uf214="2.202"
							data-uf225="2.478"
							data-uf235="2.670"
							data-uf240="2.973"
							data-uf245="3.477"
							data-uf250="4.613"
							data-uf255="5.808"

							data-uf314="1.425"
							data-uf325="1.701"
							data-uf335="1.892"
							data-uf340="2.196"
							data-uf345="2.700"
							data-uf350="3.836"
							data-uf355="5.031"
							data-uf360="6.488"

							data-uf414="0.596">
							Titular más tres asegurados dependientes
						</option>
					</select>
				</div>
				<div class="columns small-12 large-4">
					<h4 class="contract__sub-title">Edad del asegurado de mayor edad:</h4>
					<select name="" id="secureDate3" class="secureDate">
						<option value="14" data-select="secure1">Entre 14 días - 24 años y 364 días</option>
						<option value="25" data-select="secure1">Entre 25 años - 34 años y 364 días</option>
						<option value="35" data-select="secure1">Entre 35 años - 39 años y 364 días</option>
						<option value="40" data-select="secure1">Entre 40 años - 44 años y 364 días</option>
						<option value="45" data-select="secure1">Entre 45 años - 49 años y 364 días</option>
						<option value="50" data-select="secure1">Entre 50 años - 54 años y 364 días</option>
						<option value="55" data-select="secure1">Entre 55 años - 59 años y 364 días</option>
						<option value="60" data-select="secure1">Entre 60 años - 69 años y 364 días</option>

						<option value="214" data-select="secure2">Entre 14 días - 69 años y 364 días</option>
						<option value="225" data-select="secure2">Entre 25 años - 34 años y 364 días</option>
						<option value="235" data-select="secure2">Entre 35 años - 39 años y 364 días</option>
						<option value="240" data-select="secure2">Entre 40 años - 44 años y 364 días</option>
						<option value="245" data-select="secure2">Entre 45 años - 49 años y 364 días</option>
						<option value="250" data-select="secure2">Entre 50 años - 54 años y 364 días</option>
						<option value="255" data-select="secure2">Entre 55 años - 59 años y 364 días</option>

						<option value="314" data-select="secure3">Entre 14 días - 69 años y 364 días</option>
						<option value="325" data-select="secure3">Entre 25 años - 34 años y 364 días</option>
						<option value="335" data-select="secure3">Entre 35 años - 39 años y 364 días</option>
						<option value="340" data-select="secure3">Entre 40 años - 44 años y 364 días</option>
						<option value="345" data-select="secure3">Entre 45 años - 49 años y 364 días</option>
						<option value="350" data-select="secure3">Entre 50 años - 54 años y 364 días</option>
						<option value="355" data-select="secure3">Entre 55 años - 59 años y 364 días</option>
						<option value="360" data-select="secure3">Entre 60 años - 69 años y 364 días</option>

						<option value="414" data-select="secure4">Entre 14 días - 69 años y 364 días</option>
					</select>
				</div>
			</div>

			<div class="contract__intro__price__amount row">
				<div class="columns text-center">
					<div class="intro__price__plan">
						<h3 class="intro__price__title">Total prima mensual:</h3>
						<p class="intro__price__amount"><span class="price-peso">$ <span class="pricePeso"></span><i data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="valor referencial en pesos calculados en base al valor de la UF del día 9 de diciembre de 2016" class="has-tip top fa fa-info-circle tip-uf-value" aria-hidden="true"></i></span><span class="intro__price__second-amount">UF <span class="intro__price__second-amount priceUF"></span> </span></p>
					</div>
				</div>
				<div class="columns small-12 text-center">
					<!-- Cobertura -->
					<a href="https://segurosmeds.metlife.cl/VentaWeb/Formulario/MedsCatastrofico" target="_blank" class="contract__price__button button contract__padding__lateral changeURL">
						<h3>Contratalo ahora</h3>
						<p><em>Y tu primera prima es sin costo</em></p>
					</a>
				</div>
			</div>



			<div class="row contract__features">
				<div class="columns">
					<ul class="contract__list">
						<li class="contract__list-item bullet-list">
							<p>Esta cotización es referencial. Los valores podrían variar de acuerdo al grupo familiar y las edades de los asegurados.</p>
						</li>
						<li class="contract__list-item bullet-list">
							<p>Valor referencial en pesos calculado en <strong>base al valor de la última UF $26.302,92</strong> del día 9 de Febrero de 2017</p>
						</li>
						<li class="contract__list-item bullet-list">
							<p>La prima mensual es en UF y en el caso de grupos familiares, será calculada en base al asegurado de mayor edad dentro del grupo familiar asegurado.</p>
						</li>
						<li class="contract__list-item bullet-list">
							<p>Cada vez que el asegurado de mayor edad dentro del grupo familiar cambie de tramo de edad, el monto de la prima se ajustará según plan contratado en los términos que se establecen las condiciones particulares. Igual ajuste se efectuará cada vez que se modifique el número de asegurados dependientes cubiertos por el seguro.</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>