

	<div id="wrapper" class="wrapper">
		<div id="loading" class="loading">
			<div class="columns">
				<h3 class="text-center">Cargando información</h3>
				<div class="loader">Loading...</div>
			</div>
		</div>
		<section class="features" id="features" data-magellan-target="features">
			<section class="features__header z-depth-1">
				<div class="row">
					<div class="features__heading columns small-12">
						<h4 class="heading__sub-title text-center">Conoce más sobre</h4>
						<h2 class="heading__title text-center">Nuestros seguros</h2>
					</div>

					<ul class="tabs row" data-tabs id="tabs">
						{{> tab-nav}}
					</ul>

					<div class="tabs-content" data-tabs-content="tabs">
						{{> tab-1}}
					  {{> tab-2}}
					  {{> tab-3}}
					  {{> tab-4}}
						{{> tab-contract}}
						{{> tab-benefits}}
						{{> tab-insurability}}
					</div>


				</div>
			</section>
		</section>