
	<section class="features" id="features" data-magellan-target="features">
		<section class="features__header">

			<div class="row">
				<div class="features__heading columns small-10 small-offset-1">
					<h2 class="text-center">ENTRENA PROTEGIDO CON LOS</h2>
					<h2 class="text-center">SEGUROS MEDS PENSADOS PARA TI</h2>
					<p class="text-center"><br>Clínica MEDS, en conjunto con MetLife desarrollaron tres nuevos seguros para que tú y tu familia estén más tranquilos en caso de ocurrir algún imprevisto de salud. Estos seguros les entregarán cobertura de reembolso médico ante enfermedades o accidentes.</p>
				</div>
			</div>
			{{> tab-nav}}

		</section>
		<p class="intro__plan__description text-center"><!-- Las primas podrán variar de acuerdo al grupo familiar y las edades de los asegurados.<br>Valores referenciales en pesos calculados en base al valor de la UF $26.329,30 del día 9 de diciembre de 2016 -->&nbsp;</p>
		<div class="row"  id="initial" data-magellan-target="initial">
			<section class="tabs-content" data-tabs-content="tabs">
				{{> tab-1}}
				{{> tab-2}}
				{{> tab-3}}
				{{> tab-4}}
			</section>
		</div>
	</section>