
		<section class="footer">
			<div class="footer__row row">
				<div class="columns small-12">
					<p>El riesgo es cubierto por MetLife Chile Seguros de Vida S.A., RUT N° 99.289.000-2, intermedia Ibarra y Cía Ltda., RUT 78.244.750-5, que asume las responsabilidades sobre los seguros que intermedian. La presente información sólo representa un resumen de las coberturas, condiciones y limitaciones del Seguro MEDS. El detalle de las condiciones, términos y exclusiones, se encuentran en las Condiciones Generales depositadas en la Superintendencia de Valores y Seguros POL320150527, POL320130223 y POL320140335 en las Condiciones Particulares de la Póliza.</p>
					<p>*Convenio de Descuento no constituye cobertura de Seguro, siendo responsabilidad del respectivo prestador, el otorgamiento del mismo. </p>
					<p>La primera cuota sin costo del Seguro MEDS son exclusivas para la contratación por Internet.</p>
					<p>Oferta exclusiva para personas naturales, ubicadas en Chile.</p>
				</div>
				<div class="columns small-12">
					<figure class="footer__logo text-center">
						<img src="{{root}}/assets/img/metlife-logo.png" alt="Logotipo MetLife">
					</figure>
				</div>
			</div>
		</section>
	</div> <!-- End wrapper -->