
		<section class="footer">
			<div class="footer__row row">
				<div class="columns small-12">
					<p>El riesgo es cubierto por MetLife Chile Seguros de Vida S.A., RUT N° 99.289.000-2. Las Condiciones Generales se encuentran depositadas en la SVS bajo los códigos POL 3 2015 0527 para Cobertura Catastrófica , POL 3 2013 0223 para Cobertura Complementaria de Salud y POL 3 2014 0335 para Seguro de Accidentes Personales. La presente información sólo representa un resumen de las coberturas, condiciones y limitaciones. El detalle de las condiciones, términos y exclusiones, se encuentran en las Condiciones Generales antes mencionadas y en las Condiciones Particulares de la Póliza.</p>
					<p>*Convenio de Descuento no constituye cobertura de Seguro, siendo responsabilidad del respectivo prestador, el otorgamiento del mismo. </p>
					<p>La primera cuota sin costo del Seguro MEDS son exclusivas para la contratación por Internet.</p>
					<p>Oferta exclusiva para personas naturales, ubicadas en Chile.</p>
				</div>
				<div class="columns small-12">
					<figure class="footer__logo text-center">
						<img src="{{root}}/assets/img/metlife-logo.png" alt="Logotipo MetLife">
					</figure>
				</div>
			</div>
		</section>
	</div> <!-- End wrapper -->