
	<header class="header">
		<div data-sticky-container id="headerContainer" class="header__container">
			<div class="z-depth-4" data-sticky data-sticky-on="small" data-options="marginTop:0;" style="width:100%; background-color: #7BA4DB;">
				<div class="header__row row align-middle" data-magellan>
					<div class="header__columns columns">
						<figure class="header__logo text-center">
							<a href="#intro">
								<img src="{{root}}/assets/img/logo.png" alt="Logotipo Red de Salud UC - CHRISTUS">
							</a>
						</figure>
						<div id="headerMenu" class="header__menu">
							<i class="fa fa-bars" aria-hidden="true"></i>
							<i class="fa fa-times" aria-hidden="true"></i>
						</div>
					</div>
					<div id="headerList" class="header__columns columns">
						<ul class="header__list row end-md middle-xs dropdown menu" data-dropdown-menu>
							<li class="header__list-item" data-magellan>
								<a id="changeCoverageUrl" href="#coverage">Coberturas</a>
							</li>
							<li class="header__list-item header__list-secure">
								<a href="#features" id="openSubNav">Seguros Meds</a>
								<ul class="header__sub-nav menu" id="headerSubNav">
									<li class="header__sub-nav__list active-nav-tab" id="navTabFirst">
										<a href="#panel1">Seguro catastrófico</a>
									</li>
									<li class="header__sub-nav__list" id="navTabSecond">
										<a href="#panel2">Seguro catastrófico + complementario</a>
									</li>
									<li class="header__sub-nav__list" id="navTabThird">
										<a href="#panel3">Seguro catastrófico + lesiones accidentales</a>
									</li>
									<li class="header__sub-nav__list" id="navTabFourth">
										<a href="#panel4">Seguro lesiones accidentales</a>
									</li>
								</ul>
							</li>
							<li class="header__list-item">
								<a id="changeInsurabilityUrl" href="#insurability">Requisitos</a>
							</li>
							<li class="header__list-item">
								<a href="#contract">Tarifas</a>
							</li>
							<li class="header__list-item">
								<a class="changeURL" href="https://segurosmeds.metlife.cl/VentaWeb/Formulario/MedsCatastrofico" target="_blank">Contrátalo aquí</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>