
	<section class="intro z-depth-3" id="intro" data-magellan-target="intro">
		<figure class="intro__bg">
			<img src="{{root}}/assets/img/banner.jpg" alt="Imágen de fondo" />
			<section class="intro__header">
				<div class="row">
					<div class="intro__columns columns small-12 large-6">
						<h2 class="heading__title">Entrena sintiéndote protegido</h2>
						<h2 class="heading__title">con nuestro seguro de</h2>
						<h2 class="heading__title">lesiones accidentales</h2>
						<div class="intro__columns__contract">
							<h4 class="intro__columns__contract__desc">Llévalo desde:</h4>
							<p class="intro__price__amount">
								<span class="price-peso">$ <span class="price-mount">10.395</span><i data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Cáncer, Accidente Vascular Cerebral, Infarto al Miocardio, Insuficiencia Renal Crónica, Angioplastía, Injerto Aórtico, Cirugía de Válvulas Cardiacas, Transplante de órganos mayores y Alzheimer." class="has-tip top fa fa-info-circle" aria-hidden="true"></i></span>
								<span class="intro__price__second-amount">UF
									<span class="intro__price__second-amount">0,399</span>
								</span>
							</p>
							<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlus" target="_blank" class="changeCoverage contract__price__button button">Contrátalo ahora</a>
						</div>
					</div>
				</div>
			</section>
		</figure>
	</section>