
	<div class="full reveal" id="videoModal" data-reveal>
		<button class="close-button" data-close aria-label="Close reveal" type="button" style="z-index: 1000;">
		   <span aria-hidden="true">&times;</span>
		 </button>
		<div class="flex-video widescreen youtube">
		  <iframe id="videoIframe" width="720" height="540" src="" allowfullscreen style="border:0"></iframe>
		</div>
	</div>

	<section class="video">
		<div class="video__container u-container">
			<div class="video__row u-row center-xs middle-xs">
				<div class="video__content">
					<div class="video__play">
						<a data-open="videoModal">
							<i class="material-icons">play_circle_outline</i>
						</a>
					</div>
					<h3 class="video__title">Te invitamos a conocer nuestra nueva clínica <br/>MEDS La Dehesa</h3>
				</div>
			</div>
		</div>
	</section>


	<section class="video__doubt text-center">
		<div class="video__doubt__container u-container">
			<h3 class="video__doubt__title">¿Tienes alguna duda con tu Seguro?</h3>
			<h4 class="video__doubt__desc">Escríbenos a <strong><a href="mailto:segurosmeds@meds.cl">segurosmeds@meds.cl</a></strong></h4>
		</div>
	</section>